#sentiment-icon {
    width: 20px;
    height: 20px;
    background-color: #88da2a;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.analyze-button {
    background-color: #88da2a;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    color: #3d3d3d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}